<!--Footer-->
<footer class="page-footer font-small unique-color-dark pt-0 mt-4">
    <div style="background-color: #00aeef;">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0" id="mobile-disappear">
                    <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0"><i class="fa fa-facebook white-text mr-2 mr-lg-4"> </i></a>
                    <!--Twitter-->
                    <a class="tw-ic"><i class="fa fa-twitter white-text mr-2 mr-lg-4"> </i></a>
                    <!--Google +-->
                    <a class="gplus-ic"><i class="fa fa-google-plus white-text mr-2 mr-lg-4"> </i></a>
                    <!--Linkedin-->
                    <a class="li-ic"><i class="fa fa-linkedin white-text mr-2 mr-lg-4"> </i></a>
                    <!--Instagram-->
                    <a class="ins-ic"><i class="fa fa-instagram white-text"> </i></a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>

    <!-- Back to top -->

        <div class="container">
            <div class="row">
                <div class="col-12 pt-3">
                    <a pageScroll href="#backToTop">
                        <p class="text-center">Back to top <i class="fa fa-angle-up" aria-hidden="true"></i></p>
                    </a>
                </div>
            </div>
        </div>

    <!-- Back to top -->

    <!--Footer Links-->
    <div class="container mt-3 mb-4 text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-6 col-lg-3 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Mike's Mobile</strong></h6>
                <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Mike's Mobile Screens and Chimney Services specializes in window screens, screen doors, Solar Screens, security doors, retractable awnings and more! </p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-6 col-lg-3 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Our Services</strong></h6>
                <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#!">Door and Window Screens</a></p>
                <p><a href="#!">Chimney Services</a></p>
                <p><a href="#!">Home Security</a></p>
                <p><a href="#!">Home Improvement</a></p>
                <p><a href="#!">Awnings</a></p>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-6 col-lg-3 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold"><strong>Useful links</strong></h6>
                <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a (click)="basicModal.show()" class="orange-text">Get a Free Quote !</a></p>
                <p><a href="#!">About Us</a></p>
                <p><a href="#!">Contact Us</a></p>
                <p><a href="#!">SiteMap</a></p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-6 col-lg-3 col-xl-3" id="contact">
                <h6 class="text-uppercase font-weight-bold"><strong>Contact us</strong></h6>
                <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <a href="https://goo.gl/maps/nzqakuzWTft"><p>9941 Horn Rd Suite A</p>
                <p>Sacramento, CA. 95827</p></a>
                <p>support@mikesmobile.com</p>
                <a href="tel:+1-916-372-8783"><p>+1 (916) 372-8783</p></a>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright text-center">
        <div class="container-fluid">
            <small>© 2018 Copyright - <a href="http://mikesmobile.com">MikesMobile.com</a></small>
        </div>
    </div>
    <!--/.Copyright -->

</footer>
<!--/.Footer-->


<!--QuoteForm Modal-->
<div class="container">
    <div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Get a Free Quote Now!</h4>
                </div>
                <div class="modal-body">
                    <div class="md-form form-sm">
                        <p class="pb-0 mb-0">What service are you inquiring about?</p>
                        <select class="form-control" id="serviceSelect">
                            <option>Window Screen Repair</option>
                            <option>Solar Screens</option>
                            <option>Sliding Screen Door</option>
                            <option>Swinging Screen Door</option>
                            <option>Retractable Screen Door</option>
                            <option>Screen Doors</option>
                            <option>Pet Doors</option>
                            <option disabled>__________________________</option>
                            <option>Chimney Inspection</option>
                            <option>Chimney Cleaning</option>
                            <option>Chimney Repair</option>
                            <option>Chimney Accessories</option>
                            <option>Chimney Resources</option>
                            <option>Masonry Services</option>
                            <option disabled>__________________________</option>
                            <option>Steel Security Door</option>
                            <option>Viewguard Security Door</option>
                            <option>TRU-view Security Door</option>
                            <option>TRU-Frame Security Door</option>
                            <option>Sliding Security Doors</option>
                            <option disabled>__________________________</option>
                            <option>CRL Guarda™ Quick Escape Window Screen</option>
                            <option>CRL Guarda™ Fixed Window Screen</option>
                            <option>CRL Guarda™ Casement Window Screen</option>
                            <option disabled>__________________________</option>
                            <option>Retractable Patio Awnings</option>
                            <option>Drop Roll Sunscreens</option>
                            <option>Door and Window Awnings</option>

                        </select>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="fullName" class="">Full Name</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="city" class="">City</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="phone" class="">Phone</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="email" class="">Email</label>
                    </div>
                    <div class="md-form">
                        <textarea mdbActive type="text" id="form7" class="md-textarea"></textarea>
                        <label for="form7">How can we help</label>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <button type="button" class="btn gray waves-light w-100" aria-label="Close" (click)="basicModal.hide()" mdbRippleRadius>Close</button>
                    <button type="button" class="btn blue relative waves-light w-100" mdbRippleRadius>Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/QuoteForm Modal-->
