<!--Footer-->
<footer class="page-footer font-small unique-color-dark pt-0 mt-0">
      
        <div style="background-color: #00aeef;">
            <div class="container">
                <!--Grid row-->
                <div class="row py-4 d-flex align-items-center">
    
                    <!--Grid column-->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0" id="mobile-disappear">
                        <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <!--Facebook-->
                        <a class="fb-ic ml-0"><i class="fa fa-facebook white-text mr-2 mr-lg-4"> </i></a>
                        <!--Twitter-->
                        <a class="tw-ic"><i class="fa fa-twitter white-text mr-2 mr-lg-4"> </i></a>
                        <!--Google +-->
                        <a class="gplus-ic"><i class="fa fa-google-plus white-text mr-2 mr-lg-4"> </i></a>
                        <!--Linkedin-->
                        <a class="li-ic"><i class="fa fa-linkedin white-text mr-2 mr-lg-4"> </i></a>
                        <!--Instagram-->
                        <a class="ins-ic"><i class="fa fa-instagram white-text"> </i></a>
                    </div>
                    <!--Grid column-->
    
                </div>
                <!--Grid row-->
            </div>
        </div>
    
        <!-- Back to top -->
        
            <div class="container">
                <div class="row">
                    <div class="col-12 pt-3">
                        <a pageScroll [routerLink]="['/']" href="#backToTop">
                            <p class="text-center">Back to top <i class="fa fa-angle-up" aria-hidden="true"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        
        <!-- Back to top -->
    
        <!--Footer Links-->
        <div class="container mt-3 mb-4 text-md-left">
            <div class="row mt-3">
    
                <!--First column-->
                <div class="col-6 col-lg-3 col-xl-3 mb-4">
                    <h6 class="text-uppercase font-weight-bold"><strong>Mike's Mobile</strong></h6>
                    <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Mike's Mobile Screens and Chimney Services specializes in window screens, screen doors, Solar Screens, security doors, retractable awnings and more! </p>
                </div>
                <!--/.First column-->
    
                <!--Second column-->
                <div class="col-6 col-lg-3 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold"><strong>Our Services</strong></h6>
                    <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><a href="#!">Door and Window Screens</a></p>
                    <p><a href="#!">Chimney Services</a></p>
                    <p><a href="#!">Home Security</a></p>
                    <p><a href="#!">Home Improvement</a></p>
                    <p><a href="#!">Awnings</a></p>                
                </div>
                <!--/.Second column-->
    
                <!--Third column-->
                <div class="col-6 col-lg-3 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold"><strong>Useful links</strong></h6>
                    <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><a pageScroll href="#freeQuote" class="orange-text">Get a Free Quote !</a></p>
                    <p><a href="#!">About Us</a></p>
                    <p><a href="#!">Contact Us</a></p>
                    <p><a href="#!">SiteMap</a></p>                
                </div>
                <!--/.Third column-->
    
                <!--Fourth column-->
                <div class="col-6 col-lg-3 col-xl-3" id="contact">
                    <h6 class="text-uppercase font-weight-bold"><strong>Contact us</strong></h6>
                    <hr class="blue mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <a href="https://goo.gl/maps/nzqakuzWTft"><p>9941 Horn Rd Suite A</p>
                    <p>Sacramento, CA. 95827</p></a>
                    <p>support@mikesmobile.com</p>
                    <a href="tel:+1-916-372-8783"><p>+1 (916) 372-8783</p></a>
                </div>
                <!--/.Fourth column-->
    
            </div>
        </div>
        <!--/.Footer Links-->
    
        <!-- Copyright-->
        <div class="footer-copyright text-center">
            <div class="container-fluid">
                <small>© 2018 Copyright - <a href="http://mikesmobile.com">MikesMobile.com</a></small>
            </div>
        </div>
        <!--/.Copyright -->
    
    </footer>
    <!--/.Footer-->
    