@import 'modules/_mixins.sass'
@import 'modules/_variables.sass'

html, body
	overflow-x: hidden !important
	font-family: Roboto, sans-serif

.blue
	background: $blue
.blue-text
	color: $blue !important

.orange
	background: $orange
.orange-text
	color: $orange

.gray
	background: $gray
.gray-text
	color: $gray

#desktop-disappear
	@include breakpoint(md)
		display: none

#tablet-disappear
	@include breakpoint(sm)
		display: none

#mobile-disappear
	@include breakpoint(xs)
		display: none