<app-navigation></app-navigation>
<app-action-buttons></app-action-buttons>

<ng-container *ngIf="service">
	<div class="container pb-4">
    	<!-- Breadcrumb Navigation -->		
		<nav class="breadcrumb mt-2"> 
			<a class="breadcrumb-item" routerLink="/">Home</a>
			<a *ngIf="service.category === 'Door and Window Screens'" class="breadcrumb-item" [routerLink]="['/about/door-and-window-screens']">Door and Window Screens</a>
			<a *ngIf="service.category === 'Chimney Services'" class="breadcrumb-item" [routerLink]="['/about/chimney-services']">Chimney Services</a>
			<a *ngIf="service.category === 'Repair'" class="breadcrumb-item" [routerLink]="['/grid/chimney-repairs']">Chimney Repair</a>
			<a *ngIf="service.category === 'Accessories'" class="breadcrumb-item" [routerLink]="['/grid/chimney-accessories']">Chimney Accessories</a>
			<a *ngIf="service.category === 'Masonry'" class="breadcrumb-item" [routerLink]="['/grid/masonry-services']">Masonry Services</a>
			<a *ngIf="service.category === 'Resources'" class="breadcrumb-item" [routerLink]="['/grid/chimney-resources']">Chimney Resources</a>
			<a *ngIf="service.category === 'Security Doors and Windows'" class="breadcrumb-item" [routerLink]="['/about/security-doors-and-windows']">Security Doors and Windows</a>
			<a *ngIf="service.category === 'Awnings'" class="breadcrumb-item" [routerLink]="['/about/awnings']">Awnings</a>
			<span class="breadcrumb-item active">{{service.title}}</span>
		</nav>
    	<!-- /Breadcrumb Navigation -->

		<section class="section extra-margins">
		    <!--Grid row-->
		    <div class="row">
		        <!--Grid column-->
		        <div class="col-lg-6 col-xl-6 pr-lg-5 pb-5">
					<h2 class="pb-3 text-center animated pulse infinite orange-text" (click)="basicModal.show()">Get started today!</h2>
					<iframe *ngIf="service.video; else tileImg" width="100%" height="400px" src="https://www.youtube.com/embed/WtENSdKQL5k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<ng-template #tileImg>
						<img *ngIf="service.slug !== 'pet-door' " src="{{service.tileImage}}" alt="project image" class="img-fluid z-depth-2 main-image">
						<img *ngIf="service.slug === 'pet-door'" src="static/ang/assets/images/screens/pet-door/pet-door-main.jpg" class="img-fluid z-depth-2 main-image" />
					</ng-template>
					<h4 *ngIf="service.serviceImgCaption" class="p-2 text-center light-gray-text">{{service.serviceImgCaption}}</h4>
		        </div>
		        <!--Grid column-->

		        <!--Grid column-->
		        <div class="col-lg-6 col-xl-6 pl-lg-5 pb-4">
					<div class="row mb-4">
						<div class="col-12">
							<h5 class="text-center">{{service.category}}</h5>
							<h3 class="text-center mb-3" id="serviceInfo">{{service.title}}</h3>
							<!--Accordion wrapper-->
							<mdb-squeezebox [multiple]="false" aria-multiselectable="true">
							    <mdb-item *ngFor="let item of service.textList; index as i" >
							        <mdb-item-head>{{ item.title }}</mdb-item-head>
									<mdb-item-body>{{ item.description }}</mdb-item-body>
							    </mdb-item>
							</mdb-squeezebox>
							<!--/.Accordion wrapper-->
						</div>
					</div>

					<ng-container *ngIf="service.slug === 'fireplace-glass-doors'">
						<h3 class="py-2 light-gray-text">Here are some of the colors we offer</h3>
						<div class="row">							
							<div class="col-md-4">
								<img src="static/ang/assets/images/chimneys/accessories/fireplace-glass-doors/black.png" class="img-fluid" alt="fireplace-glass-doors" />
								<p class="text-center">Black</p>
							</div>
							<div class="col-md-4">
								<img src="static/ang/assets/images/chimneys/accessories/fireplace-glass-doors/black-nickel.png" class="img-fluid" alt="fireplace-glass-doors" />
								<p class="text-center">Black Nickel</p>
							</div>
							<div class="col-md-4">
								<img src="static/ang/assets/images/chimneys/accessories/fireplace-glass-doors/brass.png" class="img-fluid" alt="fireplace-glass-doors" />
								<p class="text-center">Brass</p>
							</div>
							<div class="col-md-4">
								<img src="static/ang/assets/images/chimneys/accessories/fireplace-glass-doors/gun-metal.png" class="img-fluid" alt="fireplace-glass-doors" />
								<p class="text-center">Gun Metal</p>
							</div>
							<div class="col-md-4">
								<img src="static/ang/assets/images/chimneys/accessories/fireplace-glass-doors/nickel.png" class="img-fluid" alt="fireplace-glass-doors" />
								<p class="text-center">Nickel</p>
							</div>
						</div>
					</ng-container>

					<!-- COLOR SECTION -->
					<div class="row" *ngIf="service.colorSet">
						<div class="col-12">
							<h4>Color Selection &nbsp; <span class="small">(click to zoom)</span></h4>						
							<ng-container *ngFor="let i of service.colorSet">
								<p class="mb-0 mt-2 ml-1" style="font-weight:bold" *ngIf="i === 'stdColors'">Standard Colors</p>
								<div class="row no-gutters" *ngIf="i === 'stdColors'">
									<div class="col-3 col-md-2" *ngFor="let color of stdColors | keys">
										<div class="square" mdbTooltip="{{color.key}}" [ngStyle]="{'background': color.value}" placement="bottom" (click)="stdColorModal.show()"></div>
										<p id="square-p-{{i}}" class="pl-2 p-colors">{{color.key}}</p>
										<div mdbModal #stdColorModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-sm" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title w-100 text-center" id="myModalLabel">{{color.key}}</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="stdColorModal.hide()">
															<span aria-hidden="true">×</span>
														</button>
													</div>
													<div class="modal-body">													
														<div class="square centered-sq" mdbTooltip="{{color.key}}" [ngStyle]="{'background': color.value}" placement="bottom"></div>
													</div>									
												</div>
											</div>
										</div>
									</div>
								</div>						
							</ng-container>
							
							<ng-container *ngFor="let i of service.colorSet">
								<p class="mb-0 mt-2 ml-1" style="font-weight:bold" *ngIf="i === 'screenFrameColors'">Screen Frame Colors</p>
								<div class="row no-gutters" *ngIf="i === 'screenFrameColors'">
									<div class="col-3 col-md-2" *ngFor="let color of screenFrameColors | keys">
										<div class="square" mdbTooltip="{{color.key}}" [ngStyle]="{'background-image': 'url(' + color.value + ')', 'background-size': 'cover'}" placement="bottom" (click)="screenFrameColorsModal.show()"></div>
										<p id="square-p-{{i}}" class="pl-2 p-colors">{{i.key}}</p>
										<div mdbModal #screenFrameColorsModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="screenFrameModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-sm" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title w-100 text-center" id="myModalLabel">{{color.key}}</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="screenFrameColorsModal.hide()">
															<span aria-hidden="true">×</span>
														</button>
													</div>
													<div class="modal-body">													
														<div class="square-lg centered-sq" mdbTooltip="{{i.key}}" [ngStyle]="{'background-image': 'url(' + color.value + ')', 'background-size': 'cover'}" placement="bottom"></div>
													</div>									
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-container>
	
							<ng-container *ngFor="let i of service.colorSet">
								<p class="mb-0 mt-2 ml-1" style="font-weight:bold" *ngIf="i === 'colorSetx4'">Custom Colors</p>
								<div class="row no-gutters" *ngIf="i === 'colorSetx4'">
									<div class="col-3 col-md-2" *ngFor="let color of colorSetx4 | keys">
										<div class="square" mdbTooltip="{{color.key}}" [ngStyle]="{'background': color.value}" placement="bottom" (click)="colorSetx4Modal.show()"></div>
										<p id="square-p-{{i}}" class="pl-2 p-colors">{{color.key}}</p>
										<div mdbModal #colorSetx4Modal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-sm" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title w-100 text-center" id="myModalLabel">{{color.key}}</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="colorSetx4Modal.hide()">
															<span aria-hidden="true">×</span>
														</button>
													</div>
													<div class="modal-body">													
														<div class="square-lg centered-sq" mdbTooltip="{{color.key}}" [ngStyle]="{'background': color.value}" placement="bottom"></div>
													</div>									
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-container>
	
							<ng-container *ngFor="let i of service.colorSet">
								<p class="mb-0 mt-2 ml-1" style="font-weight:bold" *ngIf="i === 'colorSetx6'">Custom Colors</p>
								<div class="row no-gutters" *ngIf="i === 'colorSetx6'">
									<div class="col-3 col-md-2" *ngFor="let color of colorSetx6 | keys">
										<div class="square" mdbTooltip="{{color.key}}" [ngStyle]="{'background': color.value}" placement="bottom" (click)="colorSetx6Modal.show()"></div>
										<p id="square-p-{{i}}" class="pl-2 p-colors">{{color.key}}</p>
										<div mdbModal #colorSetx6Modal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-sm" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title w-100 text-center" id="myModalLabel">{{color.key}}</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="colorSetx6Modal.hide()">
															<span aria-hidden="true">×</span>
														</button>
													</div>
													<div class="modal-body">													
														<div class="square-lg centered-sq" mdbTooltip="{{color.key}}" [ngStyle]="{'background': color.value}" placement="bottom"></div>
													</div>									
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-container>
	
							<ng-container *ngFor="let i of service.colorSet">
								<p class="mb-0 mt-2 ml-1" style="font-weight:bold" *ngIf="i === 'swingingDoorColors'">Custom Colors</p>
								<div class="row no-gutters" *ngIf="i === 'swingingDoorColors'">
									<div class="col-3 col-md-2" *ngFor="let color of swingingDoorColors | keys; index as j">
										<div class="square" id="square-{{j}}" mdbTooltip="{{color.key}}" [ngStyle]="{'background': color.value}" placement="bottom" (click)="swingingDoorColorsModal.show()"></div>
										<p id="square-p-{{j}}" class="pl-2 p-colors">{{color.key}}</p>
										<div mdbModal #swingingDoorColorsModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-sm" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title w-100 text-center" id="myModalLabel">{{color.key}}</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="swingingDoorColorsModal.hide()">
															<span aria-hidden="true">×</span>
														</button>
													</div>
													<div class="modal-body">													
														<div class="square-lg centered-sq" mdbTooltip="{{color.key}}" [ngStyle]="{'background': color.value}" placement="bottom"></div>
													</div>									
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-container>
	
							<ng-container *ngFor="let i of service.colorSet">
								<p class="mb-0 mt-2 ml-1" style="font-weight:bold" *ngIf="i === 'slidingSecurityDoorColors'">Custom Colors</p>
								<div class="row no-gutters" *ngIf="i === 'slidingSecurityDoorColors'">
									<div class="col-3 col-md-2" *ngFor="let color of slidingSecurityDoorColors | keys; index as j">
										<div class="square hidden-square" id="square-{{j}}" mdbTooltip="{{color.key}}" [ngStyle]="{'background': color.value}" placement="bottom" (click)="slidingSecurityDoorColors.show()"></div>
										<p id="square-p-{{j}}" class="pl-2 p-colors hidden-p">{{color.key}}</p>
										<div mdbModal #slidingSecurityDoorColorsModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="slidingSecurityDoorColorsModal" aria-hidden="true">
											<div class="modal-dialog modal-sm" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title w-100 text-center" id="myModalLabel">{{color.key}}</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="slidingSecurityDoorColorsModal.hide()">
															<span aria-hidden="true">×</span>
														</button>
													</div>
													<div class="modal-body">													
														<div class="square-lg centered-sq" mdbTooltip="{{color.key}}" [ngStyle]="{'background': color.value}" placement="bottom"></div>
													</div>									
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-container>
							<ng-container *ngFor="let colors of service.colorSet">
								<p *ngIf="colors === 'swingingDoorColors' || colors === 'slidingSecurityDoorColors'" class="orange-text" id="more-colors" (click)="viewMoreColors()"> Click to view more colors &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i></p>
								<p *ngIf="colors === 'swingingDoorColors' || colors === 'slidingSecurityDoorColors'" id="less-colors" (click)="viewLessColors()">Less Colors &nbsp; <i class="fa fa-angle-up" aria-hidden="true"></i></p>
							</ng-container>
						</div>
					</div>
				<!-- COLOR SECTION -->

					<ng-container *ngIf="service.slug === 'pet-door'">
						<h4 class="p-2">Pet Measuring Guide <small>(click to enlarge)</small></h4>
						<div class="row">
							<div class="col-12">
								<img src="static/ang/assets/images/screens/pet-door/measuring-guide.png" class="img-fluid" alt="Pet Door Sizes Measuring Guide" (click)="petDoorModal.show()"/>

								<div mdbModal #petDoorModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="petDoorModal" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title w-100 text-center" id="myModalLabel">Pet Measuring Guide</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="petDoorModal.hide()">
													<span aria-hidden="true">×</span>
												</button>
											</div>
											<div class="modal-body">
												<p class="px-2 text-center">Open sliding glass door to the opening measurement of the pet door model nearest to your breed. If the dog can pass through the opening, that’s your size. For pet Safety and Door Durability, Do Not Buy Larger than Necessary</p>					
											</div>
											<div class="modal-footer">
												<img src="static/ang/assets/images/screens/pet-door/measuring-guide.png" class="img-fluid w-100" alt="Pet Door Sizes Measuring Guide" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br/>
						<h4 class="p-2">Pet Door Frames</h4>
						<div class="row">
							<div class="col-3" *ngFor="let img of petImages | keys">
								<img src="{{img.value}}" class="img-fluid" alt="{{img.value}}" (click)="petFramesModal.show()"/>
								<p class="text-center">{{img.key}}</p>

								<div mdbModal #petFramesModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="petFramesModal" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title w-100 text-center" id="myModalLabel">{{img.key}}</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="petFramesModal.hide()">
													<span aria-hidden="true">×</span>
												</button>
											</div>
											<div class="modal-body">													
												<img src="{{img.value}}" class="img-fluid centered-sq" alt="{{img.value}}"/>
											</div>									
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-container>				
					
					<h4 class="p-2" *ngIf="service.extraImages">Informational Graphics</h4>
					<div class="row" *ngIf="service.extraImages">
						<div class="col-9" *ngFor="let img of extra_images | keys">
							<img src="{{img.value}}" class="img-fluid" alt="{{img.value}}" (click)="infoGraphicsModal.show()" />
							
							<div mdbModal #infoGraphicsModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="infoGraphicsModal" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title w-100 text-center" id="myModalLabel">Beat the Heat!</h4>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="infoGraphicsModal.hide()">
												<span aria-hidden="true">×</span>
											</button>
										</div>
										<div class="modal-body">													
											<img src="{{img.value}}" class="img-fluid" alt="{{img.value}}" />
										</div>									
									</div>
								</div>
							</div>
						</div>
					</div>

		        </div>
		        <!--Grid column-->
		    </div>
		    <!--Grid row-->
		</section>


		<div class="row" *ngIf="service.slug === 'chimney-caps-and-spark-arrestor'">

			<!--Section: Features v.1-->
			<section class="section feature-box">
				<!--Section heading-->
				<!-- <h3 class="light-gray-text my-4">The quality of caps we carry, two words say it all, Lifetime Warranty. Every one of our caps is guaranteed for life to not blow off or burn/ rust through like hardware store caps.</h3> -->
				<h1 class="section-heading h1 light-gray-text">We offer these types of caps</h1>

				<!--Grid row-->
				<div class="row features-big">
			
					<!--Grid column-->
					<div class="col-md-3 mb-r">
						<img src="static/ang/assets/images/chimneys/accessories/chimney-cap/1.png" class="img-fluid"/>
						<h5 class="feature-title">Masonry Chimney Caps</h5>
						<p class="light-gray-text p-2">Masonry Chimney caps connect to the top of your brick/masonry chimney. We sell black galvanized chimney caps that have a spark arrestor build in. You'll get 2 for the price of one with this cap. Fits all standard chimney flue sizes: 8" x 8", 8" x 13", 8" x 17", 13" x 13", 13" x 17" - We can also order custom size chimney caps. Contact us today and find out how!</p>
					</div>
					<!--Grid column-->
			
					<!--Grid column-->
					<div class="col-md-3 mb-r">
						<img src="static/ang/assets/images/chimneys/accessories/chimney-cap/2.png" class="img-fluid"/>
						<h5 class="feature-title">Prefab/Zero Clearance Chimney Cap</h5>
						<p class="light-gray-text p-2">We offer prefab or Zero Clearance chimney caps for sizes: 6", 8", and 10". All sizes are available in Solid pack and Air Cooled options. Contact us today for custom sizes. We can do it!</p>
					</div>
					<!--Grid column-->
			
					<!--Grid column-->
					<div class="col-md-3 mb-r">
						<img src="static/ang/assets/images/chimneys/accessories/chimney-cap/3.png" class="img-fluid"/>
						<h5 class="feature-title">Lock Top Damper</h5>
						<p class="light-gray-text p-2">If you are tired of that old masonry throat damper or you are looking to become more efficient and save some money on your energy bill, you can invest in a Lock Top Damper. This top mount damper seals shut with a rubber seal and keeps the cold air out of your chimney and out of your home.</p>
					</div>
					<!--Grid column-->	
					
					<!--Grid column-->
					<div class="col-md-3 mb-r">
						<img src="static/ang/assets/images/chimneys/accessories/chimney-cap/4.png" class="img-fluid"/>
						<h5 class="feature-title">Flue Extender Caps</h5>
						<p class="light-gray-text p-2">Many masonry chimneys do not meet minimum code-height requirements and have the potential to be a serious fire hazard. Also, many draft issues can be attributed to a chimney being too short. These caps keep sparks off your roof and assist in a strong chimney draft.</p>
					</div>
					<!--Grid column-->	
				</div>
				<!--Grid row-->			
			</section>
			<!--Section: Features v.1-->
		</div>

		<div class="row" *ngIf="service.slug === 'chimney-inspections'">
			<!--Section: Features v.3-->
			<section class="section feature-box">
				<!--Section heading-->
				<h1 class="py-md-4">How are we so good?</h1>
				<!--Section description-->
				<p class="section-description lead grey-text">We have created our own custom applications to be able to provide the highest quality Chimney Reports. We can take care of everything with just a few clicks.</p>
				<!--Grid row-->
				<div class="row features-small pt-2">						
					<!--Grid column-->
					<div class="col-lg-5 mb-r center-on-small-only">
						<img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
					</div>
					<!--Grid column-->						
					<!--Grid column-->
					<div class="col-lg-7">						
						<!--Grid row-->
						<div class="row pb-3">
							<div class="col-2 col-md-1">
								<i class="fa fa-bank blue-text"></i>
							</div>
							<div class="col-10">
								<h5 class="feature-title">Safety</h5>
								<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
							</div>
						</div>
						<!--Grid row-->						
						<!--Grid row-->
						<div class="row pb-3">
							<div class="col-2 col-md-1">
								<i class="fa fa-code blue-text"></i>
							</div>
							<div class="col-10">
								<h5 class="feature-title">Technology</h5>
								<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
							</div>
						</div>
						<!--Grid row-->						
						<!--Grid row-->
						<div class="row pb-3">
							<div class="col-2 col-md-1">
								<i class="fa fa-money blue-text"></i>
							</div>
							<div class="col-10">
								<h5 class="feature-title">Finance</h5>
								<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
							</div>
						</div>
						<!--Grid row-->						
					</div>
					<!--Grid column-->						
				</div>
				<!--Grid row-->						
			</section>
			<!--Section: Features v.3-->				
		</div>

		<div class="container" *ngIf="service.recentInstallImages">
			<!--Section: Features v.2-->
			<section class="section feature-box">
				<!--Section heading-->
				<h2 class="text-center pt-3">View some of our recent installs</h2>
				<hr/>
				<!--Grid row-->				
				<ngx-gallery [options]="gallery_options" [images]="gallery_images"></ngx-gallery>				
			</section>
		</div>
		

	</div>
</ng-container>

<app-footer></app-footer>

<!--QuoteForm Modal-->
<div class="container">
    <div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
					<h4 class="modal-title" id="myModalLabel">Get a Free Quote Now! <span class="orange-text pl-4">1-877-520-3595</span></h4>
                </div>
                <div class="modal-body">
					<!-- <div class="md-form form-sm">
                        <mdb-select [options]="optionsSelect" [multiple]="true" placeholder="What service were you interested in?"></mdb-select>
					</div> -->
					<div class="md-form form-sm">                        
						<mdb-select [options]="groupOptionsSelect" placeholder="Choose your option" class="colorful-select dropdown-primary"></mdb-select>
					</div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="fullName" class="">Full Name</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="city" class="">City</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="phone" class="">Phone</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="email" class="">Email</label>
                    </div>
                    <div class="md-form">
                        <textarea mdbActive type="text" id="form7" class="md-textarea"></textarea>
                        <label for="form7">How can we help</label>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <button type="button" class="btn gray waves-light w-100" aria-label="Close" (click)="basicModal.hide()" mdbRippleRadius>Close</button>
                    <button type="button" class="btn blue relative waves-light w-100" mdbRippleRadius>Save changes</button>
                </div>
				<!-- <div class="g-recaptcha" data-sitekey="6LcuVE8UAAAAANjXntZdTLaVVXI0vBbv8yk8jdTw"></div> -->
            </div>
        </div>
    </div>
</div>
<!--/QuoteForm Modal-->
