<app-navigation></app-navigation>
<app-action-buttons></app-action-buttons>

<ng-container *ngIf="service">
	<div class="container pb-4">
		<h5 class="text-center">{{service.category}}</h5>
		<h3 class="text-center" id="serviceInfo">{{service.title}}</h3>
		<hr/>
    	<!-- Breadcrumb Navigation -->
		<nav class="breadcrumb mt-2">
			<a class="breadcrumb-item" routerLink="/">Home</a>
			<a class="breadcrumb-item" routerLink="">{{service.category}}</a>
			<span class="breadcrumb-item active">{{service.title}}</span>
		</nav>
    	<!-- /Breadcrumb Navigation -->

		<section class="section extra-margins">
		    <!--Grid row-->
		    <div class="row">
		        <!--Grid column-->
		        <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5">
					<h4 *ngIf="service.serviceImgCaption" class="pb-3 text-center light-gray-text">{{service.serviceImgCaption}}</h4>
		            <img src="{{service.tileImage}}" alt="Sample project image" class="img-fluid z-depth-2">
					<!-- <iframe *ngIf="service.video" width="100%" height="300px" src="{{service.video}}" frameborder="0" allowfullscreen></iframe> -->
					<h2 class="py-4 text-center animated pulse infinite"><a class="orange-text" href="tel: 1 877 520 3595">Get started today!</a></h2>
		        </div>
		        <!--Grid column-->

		        <!--Grid column-->
		        <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4">
					<!--Accordion wrapper-->
					<mdb-squeezebox [multiple]="false" aria-multiselectable="true">
						<mdb-item  *ngFor="let image of service.images">
					        <mdb-item-head> {{ image }} </mdb-item-head>
					    </mdb-item>
					</mdb-squeezebox>
					<!--/.Accordion wrapper-->
		        </div>
		        <!--Grid column-->
		    </div>
		    <!--Grid row-->
		    <!-- <hr>

			<section class="section">
				<h2 class="text-md-left">Color Options</h2>


			</section> -->

			<!--Section: Features v.2-->
			<section *ngIf="service.galleryImg0" class="section feature-box">
			    <!--Section heading-->
			    <h2 class="text-center pt-3">View some of our recent installs</h2>
				<hr/>
			    <!--Grid row-->
			    <div class="row features-small pt-4">

					<!--Carousel Wrapper-->
					<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'" id="centered-gallery">
					    <!--First slide-->
					    <mdb-slide>
					        <img class="d-block w-100" src="{{service.galleryImg0}}" alt="First slide">
					    </mdb-slide>
					    <!--/First slide-->
					    <!--Second slide-->
					    <mdb-slide *ngIf="service.galleryImg1">
					        <img class="d-block w-100" src="{{service.galleryImg1}}" alt="Second slide">
					    </mdb-slide>
					    <!--/Second slide-->
					    <!--Third slide-->
					    <mdb-slide *ngIf="service.galleryImg2">
					        <img class="d-block w-100" src="{{service.galleryImg2}}" alt="Third slide">
					    </mdb-slide>
					    <!--/Third slide-->
					</mdb-carousel>
					<!--/.Carousel Wrapper-->

			    </div>
			    <!--Grid row-->
			</section>
		</section>













	</div>
</ng-container>

<app-footer></app-footer>
