<app-navigation></app-navigation>

<div class="container slideshow" id="slideshow">
    <!--Carousel Wrapper-->
    <mdb-carousel #carousel [isControls]="true" class="carousel slide" [animation]="'slide'" [interval]="2500">
        <!--First slide-->
        <mdb-slide>
            <div class="view hm-bluegrey-light">
                <img class="d-block w-100 img-fluid" src="assets/images/main/red-screen.jpg" alt="First slide">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>

            <div class="carousel-caption text-md-left">
                <div class="transparent-gray pt-4 pb-1">
                    <h2 class="h2-responsive px-4">Custom Security Doors</h2>
                    <ul>
                        <li>Custom Mount Options</li>
                        <li>Custom Colors</li>
                        <li>Custom <i class="orange-text">You</i></li>
                    </ul>
                </div>
                <button type="button" class="btn blue waves-light" mdbRippleRadius [routerLink]="['/']" pageScroll href="#services">Get Started</button>
            </div>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <div class="view hm-stylish-light">
                <img class="d-block w-100 img-fluid" src="assets/images/main/single-chimney.jpg" alt="Second slide">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>
            <div class="carousel-caption text-md-left">
                <div class="transparent-gray pt-4 pb-3">
                    <h2 class="h2-responsive px-4">View our many Chimney Services</h2>
                    <!-- <p class="px-4">Secondary text</p> -->
                </div>
                <button type="button" class="btn blue waves-light" [routerLink]="['/about/chimney-services']" mdbRippleRadius>Learn More</button>
            </div>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
            <div class="view hm-stylish-light">
                <img class="d-block w-100 img-fluid" src="assets/images/main/gutter0.jpg" alt="Third slide">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>
            <div class="carousel-caption text-md-left">
                <div class="transparent-gray pt-4 pb-1">
                    <h2 class="h2-responsive px-4">Home Improvement</h2>
                    <p class="px-4">Keep your home in tip-top shape</p>
                </div>
                <a href="tel:+1-916-372-8783"><button type="button" class="btn blue waves-light" mdbRippleRadius>Call Now</button></a>
            </div>
        </mdb-slide>
        <!--/Third slide-->
        <!--Fourth slide-->
        <mdb-slide>
            <div class="view hm-stylish-light">
                <img class="d-block w-100 img-fluid" src="assets/images/main/security-door.jpg" alt="Third slide">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>
            <div class="carousel-caption text-md-left">
                <div class="transparent-gray pt-4 pb-1">
                    <h2 class="h2-responsive px-4">1-877-520-3595</h2>
                    <p class="px-4">Call us Today!</p>
                </div>
                <a href="tel:+1-916-372-8783"><button type="button" class="btn blue waves-light" mdbRippleRadius>Call Now</button></a>
            </div>
        </mdb-slide>
        <!--/Fourth slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
</div>

<app-action-buttons></app-action-buttons>

<div class="container pt-md-4">
    <!--Jumbotron-->
    <div class="jumbotron text-center mb-0">
    <!--Title-->
    <h1 class="card-title h2-responsive mt-2"><strong>About Mike's Mobile</strong></h1>
    <!--Subtitle-->
    <!-- <p class="blue-text mb-4 font-bold">Powerful and free Material Design UI KIT</p> -->

    <!--Text-->
    <div class="d-flex justify-content-center">
        <p class="card-text mb-3" style="max-width: 43rem;">Mike’s Mobile started in 2002 and is locally owned and operated. Since then we have collected a staggering amount of experience installing window screens, solar screens, awnings and security doors and repairing and maintaining chimneys and fireplaces.
            <br/><br/>
            People love the California weather and they love taking advantage of the crisp morning air. Our window screens, solar screens, screen doors and security doors offer the perfect way to take advantage of the cool air.
            <br/><br/>
            Each year in October we start to see a shift to the our chimney side of the business. We are a full service Chimney Sweep company that specializes in masonry repair, chimney sweeps and chimney inspections. Over the years we have come across thousands of chimney issues and solutions. Give us a call today and find out why our customers love us!
        </p>
    </div>

    <hr class="my-4">

    <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 300px">
        <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
    </agm-map>

    <hr class="my-4">

    <h2 class="section-heading pt-md-3">View some of our locations</h2>
    <!-- Nav tabs -->
    <mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-4 pills-secondary white margin'" [contentClass]="''">
        <!--Panel 1-->
        <mdb-tab heading="Sacramento">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p>Antelope, Arden Arcade, Brooks, Cameron Park, Capay, Carbondale, Carmichael, Citrus Heights, Clarksburg, Clay, Conaway, Courtland, Davis, El Dorado Hills, El Macero, Elk Grove, Elverta, Esparto, Fair Oaks, Florin, Folsom, Foothill Farms, Granite Bay, Knights Landing, Lincoln, Loomis, Madison, Monument Hills, Newcastle, Penryn, Plainfield, Sacramento, West Sacramento, Woodland, Yolo, Zamora</p>
                </div>
            </div>
        </mdb-tab>
        <!--Panel 2-->
        <mdb-tab heading="Auburn">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p>Amador City, Applegate, Auburn, Brooks, Bunker Hill, Cameron Park, Coloma, Cool, Drytown, Dunnigan, Fiddletown, Guinda, Ione, Jackson, Martell, Meadow Vista, New Chicago, North Auburn, Pilot Hill, Placerville, Plymouth, Rio Oso, River Pines, Rumsey, Sheridan, Sunnybrook, Sutter Creek, Sutter Hill, Wheatland</p>
                </div>
            </div>
        </mdb-tab>
        <!--Panel 3-->
        <mdb-tab heading="Antioch">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p>Bay Point, Bethel Island, Brentwood, Byron, Clayton, Contra Costa Centre, Discovery Bay, Knightsen, Oakley, Pittsburg, Shell Ridge</p>
                </div>
            </div>
        </mdb-tab>
        <!--Panel 4-->
        <mdb-tab heading="Stockton">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p>Acampo, Adela, Airport, Allen, Atlanta, August, Banta, Barton, Bonnefoy, Buena Vista, North Shore Lake Camanche, Camanche Village, Claribel, Clarsona, Claus, Clay, Clinton, Collierville, Courtland, Dagon, Del Rio, Dogtown, East Oakdale, Edwin, Electra, Escalon, Eugene, Farmington, Firebrick, French Camp, Garden Acres, Goodmans Corner, Kennedy, Kirkwood, Kit Carson, Knights Ferry, Langworth, Lathrop, Lincoln Village, Linden, Lockeford, Lodi, Manteca, McHenry, Morada, Mormon, Mountain House, Oakdale, Peters, Pine Acres, Pine Grove, Pioneer, Plasse, Red Corral, Ripon, Riverbank, Salida, Scottsville, Stockton, Taft Mosswood, Thornton, Tracy, Valley Home, Victor, Volcano, Waterloo, Woodbridge</p>
                </div>
            </div>
        </mdb-tab>
         <!--Panel 4-->
        <mdb-tab heading="Danville">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p>Acalanes Ridge, Alamo, Ashland, Blackhawk, Camino Tassajara, Castro Valley, Castle Hill, Danville, Diablo, Dublin, Fremont, Hayward, Livermore, Moraga, Newark, Norris Canyon, Pleasanton, San Leandro, San Lorenzo, San Ramon, Sunol, Walnut Creek</p>
                </div>
            </div>
        </mdb-tab>
         <!--Panel 4-->
        <mdb-tab heading="Oakland">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p>Alameda, Alhambra Valley, Albany, Beyview-Mountain, Berkeley, Canyon, Clyde, Concord, Crockett, East Richmond Heights, El Cerrito, El Sobrante,  Emeryville, Hasford Heights, Hercules, Kensington, Lafayette, Martinez, North Richmond, Orinda, Pacheco, Piedmont, Pinole, Pleasant Hill, Port Costa, Reliez Valley, Richmond, Rodeo, Rollingwood, San Pablo, Tara Hills, Vine Hill</p>
                </div>
            </div>
        </mdb-tab>
         <!--Panel 4-->
        <mdb-tab heading="Modesto">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p>Atwater, Bret Harte, Bystrom, Ceres, Crows Landing, Diablo Grande, Denair, Empire, Grayson, Hickman, Hills Ferry, Keys, Hughson, Livingston, La Grange, Los Banos, Merced, Modesto, Monterey Park Tract, Montpelier, New Jerusalem, Newman, Orestimba High School, Patterson, Riverdale Park, Roberts Ferry Grammer School, Shackelford, Turlock, Vernalis, Waterford, Westley, West Modesto</p>
                </div>
            </div>
        </mdb-tab>
         <!--Panel 4-->
         <mdb-tab heading="Nappa">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p>American Canyon, Atlas, Batoo, Benicia, Imola, Napa, Oak Knoll, Schellville, Sonoma, Union, Vallejo, Vineburg, Yountville</p>
                </div>
            </div>
        </mdb-tab>
         <!--Panel 4-->
         <mdb-tab heading="Fairfield">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p>Allendale, Bahia, Birds Landing, Bucktown, Collinsville, Cordelia, Dixon, Elmira, Fairfield, Green Valley, Hartley, Maine Prairie, Rio Vista, Rockville, Terminous, Suisun City, Vacaville, Scandia Family Center, Winters</p>
                </div>
            </div>
        </mdb-tab>
    </mdb-tabset>


    </div>
    <!--Jumbotron-->
</div>

<app-footer></app-footer>
