<!--Jumbotron-->
<div class="jumbotron text-center mb-0" id="about">

  <!--Title-->
  <h1 class="card-title h2-responsive mt-2"><strong>About Mike's Mobile</strong></h1>
  <!--Subtitle-->
  <!-- <p class="blue-text mb-4 font-bold">Powerful and free Material Design UI KIT</p> -->

  <!--Text-->
  <div class="d-flex justify-content-center">
      <p class="card-text mb-3" style="max-width: 43rem;">Mike’s Mobile started in 2002 and is locally owned and operated. Since then we have collected a staggering amount of experience installing window screens, solar screens, awnings and security doors and repairing and maintaining chimneys and fireplaces.
          <br/><br/>
          People love the California weather and they love taking advantage of the crisp morning air. Our window screens, solar screens, screen doors and security doors offer the perfect way to take advantage of the cool air.
          <br/><br/>
          Each year in October we start to see a shift to the our chimney side of the business. We are a full service Chimney Sweep company that specializes in masonry repair, chimney sweeps and chimney inspections. Over the years we have come across thousands of chimney issues and solutions. Give us a call today and find out why our customers love us!
      </p>
  </div>

  <hr class="my-4">

  <!-- <button type="button" class="btn btn-blue waves-effect">Buy now <span class="fa fa-diamond ml-1"></span></button>
  <button type="button" class="btn btn-outline-primary waves-effect">Download <i class="fa fa-download ml-1"></i></button> -->

</div>
<!--Jumbotron-->