<app-navigation></app-navigation>

<app-action-buttons></app-action-buttons>

<ng-container *ngIf="product">
	<div class="container pb-4">
    <!-- Breadcrumb Navigation -->
		<nav class="breadcrumb mt-4">
			<a class="breadcrumb-item" routerLink="/">Home</a>
			<a class="breadcrumb-item" routerLink="">{{product.category}}</a>
			<span class="breadcrumb-item active">{{product.title}}</span>
		</nav>
    <!-- /Breadcrumb Navigation -->


		<div class="row">
			<div class="col-12 col-md-6 pb-3">
				<div class="row">
					
					<ul class="col-3 d-flex flex-column thumbnails">							
						<li><a href="{{product.tileImage}}"><img src="{{product.tileImage}}" alt="Thumbnails"></a></li>
						<li><a href="{{product.image0}}"><img src="{{product.image0}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.image1"><a href="{{product.image1}}"><img class="view hm-zoom" src="{{product.image1}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.image2"><a href="{{product.image2}}"><img src="{{product.image2}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.image3"><a href="{{product.image3}}"><img src="{{product.image3}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.image4"><a href="{{product.image4}}"><img src="{{product.image4}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.image5"><a href="{{product.image5}}"><img src="{{product.image5}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.image6"><a href="{{product.image6}}"><img src="{{product.image6}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.image7"><a href="{{product.image7}}"><img src="{{product.image7}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.image8"><a href="{{product.image8}}"><img src="{{product.image8}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.image9"><a href="{{product.image9}}"><img src="{{product.image9}}" alt="Thumbnails"></a></li>
					</ul>		
					<div class="col-9">
						
						<div class="main-image">
							<img src="{{product.tileImage}}" alt="Placeholder" class="custom">
						</div>							
						 
					</div>
				</div>
			</div>
			<div class="col-1"></div>
			<div class="col-12 col-md-5" id="productInfo">
				<h5 class="text-left">{{product.category}}</h5>
				<h3 class="text-left">{{product.title}}</h3>
				<ul class="pb-3">
					<li>{{product.bullet0}}</li>
					<li>{{product.bullet1}}</li>
					<li *ngIf="product.bullet2">{{product.bullet2}}</li>
					<li *ngIf="product.bullet3">{{product.bullet3}}</li>
					<li *ngIf="product.bullet4">{{product.bullet4}}</li>					
				</ul>
				<div class="">
					<h4>Color Selection</h4>
					<div class="d-flex flex-row">
						<div class="p-2 square" mdbTooltip="Color 1" placement="bottom"></div>
						<div class="p-2 square" mdbTooltip="Color 2" placement="bottom"></div>
						<div class="p-2 square" mdbTooltip="Color 3" placement="bottom"></div>
						<div class="p-2 square" mdbTooltip="Color 4" placement="bottom"></div>
						<div class="p-2 square" mdbTooltip="Color 5" placement="bottom"></div>
						<div class="p-2 square" mdbTooltip="Color 6" placement="bottom"></div>
						<div class="p-2 square" mdbTooltip="Color 7" placement="bottom"></div>
						<div class="p-2 square" mdbTooltip="Color 8" placement="bottom"></div>
					</div>
				</div>
				
				

			</div>
		</div>

	</div>

	<div class="container py-4">
		<div class="row">
			<div class="col-md-9">
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Product Overview</a>
						<a class="nav-item nav-link" id="nav-specs-tab" data-toggle="tab" href="#nav-specs" role="tab" aria-controls="nav-specs" aria-selected="false">Technical Specs</a>
						<a class="nav-item nav-link" id="nav-options-tab" data-toggle="tab" href="#nav-options" role="tab" aria-controls="nav-options" aria-selected="false">Options</a>
						<a class="nav-item nav-link" id="nav-related-tab" data-toggle="tab" href="#nav-related" role="tab" aria-controls="nav-related" aria-selected="false">Related Products</a>
						<a class="nav-item nav-link" id="nav-warranty-tab" data-toggle="tab" href="#nav-warranty" role="tab" aria-controls="nav-warranty" aria-selected="false">Warranty</a>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
						<p class="p-4">
								<strong> EASY</strong><br/>
								Now you can let the cool breeze in and keep intruders out without compromising the appearance of your home. Finally you can experience total security without resorting to bars or unsightly steel grills.<br/><br/>
								
								<strong> SECURITY</strong><br/>
								Tru-Frame security screen doors incorporate the latest advances in high tensile strength materials and construction.<br/><br/>
								
								<strong>LOWER COST</strong><br/>
								When compared to alternative solutions for security, Viewguard™ security screen doors are built to last and are corrosion resistant.<br/><br/>
								
								<strong>GREATER AIRFLOW</strong><br/>
								Stainless steel marine grade mesh screen optimizes airflow, and maximizes security. Strength and beauty in perfect harmony.<br/><br/>
								
								<strong>SAVE ENERGY - FEEL SAFE</strong><br/>
								Opening your door in the evening reduces air conditioning costs in hot weather.<br/><br/>
								
								SUPERIOR STYLE<br/>
								Compare our screen doors with anything else on the market today, and we think you'll agree, Viewguard™ has a lock on security and style.<br/><br/>
								
								COLORS AVAILABLE<br/>
								Bronze Anodized or White Paint. Custom special colors are available. Contact the factory for more details.<br/><br/>
								
								FRENCH DOOR OPTION<br/>
								Viewguard security screen doors are also available with a French Door kit for double doors, and include all installation hardware except the door knob closer and deadlock, which are optional.<br/><br/>
						</p>
					</div>
					<div class="tab-pane fade" id="nav-specs" role="tabpanel" aria-labelledby="nav-specs-tab">
						<p class="p-4">
								STANDARD SIZES: 36" x 80" - 32" x 80" - 30" x 80"
		
								SCREENING: 316 Series Stainless Steel, .032 wire diameter woven in a 12 x 12 mesh & epoxy coated for additional corrosion protection.
								
								HARDWARE: Hardware shall be aluminum, stainless steel, or other non-corrosive material compatible with aluminum.
								
								MEASURING GUIDE: Click here
								
								FINISHES: Bronze Anodized, White Paint. Additional color choices are listed below. Note: The stainless steel security mesh can NOT be painted. Call for pricing.
								
								SECURITY DOOR SPECIFICATION:
								
								Door Members: Tubular door stile shall be extruded aluminum, and exposed face width shall be at least 4 5/8" x 1 3/8" thick with 0.093 nominal walls. Tubular door surround shall be extruded aluminum 1 7/8" x 1 9/16" with 0.093 nominal walls. The bottom expander expose face width shall be at least 1 3/4" x 1 1/2" thick with 0.060 nominal wall thickness.
									
								Hardware: The optional heavy duty pneumatic door closer shall have a 1 1/2" tube diameter and 12 1/8" between mounting holes.
						</p>
					</div>
					<div class="tab-pane fade" id="nav-options" role="tabpanel" aria-labelledby="nav-options-tab">
						<p class="p-4">
								Pneumatic Door Closure: Heavy duty type with 1-1/2” tube and stop
								Custom Bore spacing: Doors are prepped for a 2-1/8" lock set hole size to accept a standard handle and lock set (sold separately). We offer a variety of door handles and dead bolts. Custom bore spacing is available to fit a wider range of handle and lock sets.
								French Set: Complete with locking pins on fixed door. Bores on fixed door for “dummy handle set” are available.
								Threshold Extender: Available in white, bronze, or mill. Threshold extenders are sometimes needed to retrofit your existing door to make the Viewguard bug proof when your threshold is too short.
								Colors (See below)
								Lockset (not included)
						</p>
					</div>
					<div class="tab-pane fade" id="nav-related" role="tabpanel" aria-labelledby="nav-related-tab">...</div>
					<div class="tab-pane fade" id="nav-warranty" role="tabpanel" aria-labelledby="nav-warranty-tab">...</div>
				</div>
			</div>
		</div>		
	</div>
</ng-container>
<app-footer></app-footer> 





