#productInfo
    h5
        font-family: 'Open Sans', sans-serif
        font-weight: bold
    h3
        font-family: 'Open Sans', sans-serif
        font-weight: lighter
    ul
        padding-left: 25px
        li
            padding: 10px 0