<app-navigation></app-navigation>
<app-action-buttons></app-action-buttons>

<ng-container *ngIf="product">
	<div class="container pb-4">
    	<!-- Breadcrumb Navigation -->
		<nav class="breadcrumb mt-4">
			<a class="breadcrumb-item" routerLink="/">Home</a>
			<a class="breadcrumb-item" routerLink="">{{product.category}}</a>
			<span class="breadcrumb-item active">{{product.title}}</span>
		</nav>
    	<!-- /Breadcrumb Navigation -->

		<div class="row">
			<div class="col-12 col-md-6 pb-3">
				<div class="row">
					<ul class="col-3 d-flex flex-column thumbnails">
						<li><a href="{{product.tileImage}}"><img src="{{product.tileImage}}" alt="Thumbnails"></a></li>
						<li><a href="{{product.thumbImg0}}"><img src="{{product.thumbImg0}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.thumbImg1"><a href="{{product.thumbImg1}}"><img class="view hm-zoom" src="{{product.thumbImg1}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.thumbImg2"><a href="{{product.thumbImg2}}"><img src="{{product.thumbImg2}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.thumbImg3"><a href="{{product.thumbImg3}}"><img src="{{product.thumbImg3}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.thumbImg4"><a href="{{product.thumbImg4}}"><img src="{{product.thumbImg4}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.thumbImg5"><a href="{{product.thumbImg5}}"><img src="{{product.thumbImg5}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.thumbImg6"><a href="{{product.thumbImg6}}"><img src="{{product.thumbImg6}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.thumbImg7"><a href="{{product.thumbImg7}}"><img src="{{product.thumbImg7}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.thumbImg8"><a href="{{product.thumbImg8}}"><img src="{{product.thumbImg8}}" alt="Thumbnails"></a></li>
						<li *ngIf="product.thumbImg9"><a href="{{product.thumbImg9}}"><img src="{{product.thumbImg9}}" alt="Thumbnails"></a></li>
					</ul>
					<div class="col-9">
						<div class="main-image">
							<img src="{{product.tileImage}}" alt="Placeholder" class="custom">
						</div>
					</div>
				</div>
			</div>
			<div class="col-1"></div>
			<div class="col-12 col-md-5" id="productInfo">
				<h5 class="text-left">{{product.category}}</h5>
				<h3 class="text-left">{{product.title}}</h3>
				<ul class="pb-3">
					<li>{{product.bullet0}}</li>
					<li>{{product.bullet1}}</li>
					<li *ngIf="product.bullet2">{{product.bullet2}}</li>
					<li *ngIf="product.bullet3">{{product.bullet3}}</li>
					<li *ngIf="product.bullet4">{{product.bullet4}}</li>
				</ul>
				<div class="row">
					<div class="col-12">
						<h4>Color Selection</h4>
						<p class="mb-0 mt-2 ml-1" style="font-weight:bold">Standard Colors</p>
						<div class="d-flex flex-row">
							<div class="p-2 square" id="std-color-1" mdbTooltip="Bronze Anodized" placement="bottom"></div>
							<div class="p-2 square" id="std-color-2" mdbTooltip="White" placement="bottom"></div>
						</div>

						<p class="mb-0 mt-2 ml-1" style="font-weight:bold">Custom Colors</p>
						<div class="d-flex flex-row">
							<div class="p-2 square" id="color-1" mdbTooltip="Alabaster" placement="bottom"></div>
							<div class="p-2 square" id="color-2" mdbTooltip="Almond Cream" placement="bottom"></div>
							<div class="p-2 square" id="color-3" mdbTooltip="Autumn Brown" placement="bottom"></div>
							<div class="p-2 square" id="color-4" mdbTooltip="Bear Green" placement="bottom"></div>
							<div class="p-2 square" id="color-5" mdbTooltip="Champagne Beige" placement="bottom"></div>
							<div class="p-2 square" id="color-6" mdbTooltip="Champagne Beige" placement="bottom"></div>
							<div class="p-2 square" id="color-7" mdbTooltip="Country Blue" placement="bottom"></div>
							<div class="p-2 square" id="color-8" mdbTooltip="Desert Sand" placement="bottom"></div>
						</div>
						<div class="d-flex flex-row">
							<div class="p-2 square" id="color-9" mdbTooltip="Flat Black" placement="bottom"></div>
							<div class="p-2 square" id="color-10" mdbTooltip="New England Grey" placement="bottom"></div>
							<div class="p-2 square" id="color-11" mdbTooltip="Post Office Blue" placement="bottom"></div>
							<div class="p-2 square" id="color-12" mdbTooltip="Terra Cotta" placement="bottom"></div>
							<div class="p-2 square" id="color-13" mdbTooltip="Chrome" placement="bottom"></div>
							<div class="p-2 square" id="color-14" mdbTooltip="Evening Blue" placement="bottom"></div>
							<div class="p-2 square" id="color-15" mdbTooltip="Forest Green" placement="bottom"></div>
							<div class="p-2 square" id="color-16" mdbTooltip="Green Patina" placement="bottom"></div>
						</div>
						<div class="d-flex flex-row">
							<div class="p-2 square" id="color-17" mdbTooltip="New Bronze" placement="bottom"></div>
							<div class="p-2 square" id="color-18" mdbTooltip="Pacific Granite" placement="bottom"></div>
							<div class="p-2 square" id="color-19" mdbTooltip="Statuary Bronze" placement="bottom"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container py-4">
		<div class="row">
			<div class="col-md-12">
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Product Overview</a>
						<a class="nav-item nav-link" id="nav-specs-tab" data-toggle="tab" href="#nav-specs" role="tab" aria-controls="nav-specs" aria-selected="false">Technical Specs</a>
						<a class="nav-item nav-link" id="nav-options-tab" data-toggle="tab" href="#nav-options" role="tab" aria-controls="nav-options" aria-selected="false">Options</a>
						<a class="nav-item nav-link" id="nav-related-tab" data-toggle="tab" href="#nav-related" role="tab" aria-controls="nav-related" aria-selected="false">Related Products</a>
						<a class="nav-item nav-link" id="nav-warranty-tab" data-toggle="tab" href="#nav-warranty" role="tab" aria-controls="nav-warranty" aria-selected="false">Warranty</a>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
						<p class="p-4" [innerHTML]="product.productOverview"></p>
					</div>
					<div class="tab-pane fade" id="nav-specs" role="tabpanel" aria-labelledby="nav-specs-tab">
						<div class="p-4" [innerHTML]="product.technicalSpecs"></div>
					</div>
					<div class="tab-pane fade" id="nav-options" role="tabpanel" aria-labelledby="nav-options-tab">
						<div class="p-4" [innerHTML]="product.options"></div>
					</div>
					<div class="tab-pane fade" id="nav-related" role="tabpanel" aria-labelledby="nav-related-tab">
						<div class="p-4" [innerHTML]="product.relatedProducts"></div>
					</div>
					<div class="tab-pane fade" id="nav-warranty" role="tabpanel" aria-labelledby="nav-warranty-tab">
						<div class="p-4" [innerHTML]="product.warranty"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" *ngIf="product.galleryImg0">
	    <hr/>
	    <!--Carousel Wrapper-->
	    <h2 class="pb-2">View some of our recent installs</h2>

	    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade w-50" [type]="'carousel-thumbnails'" [animation]="'fade'">

	        <mdb-slide>
	            <img class="d-block w-100" src="{{product.galleryImg0}}" alt="First slide">
	        </mdb-slide>

			<mdb-slide *ngIf="product.galleryImg1">
	            <img class="d-block w-100" src="{{product.galleryImg1}}" alt="Second slide">
	        </mdb-slide>

			<mdb-slide *ngIf="product.galleryImg2">
	            <img class="d-block w-100" src="{{product.galleryImg2}}" alt="Third slide">
	        </mdb-slide>

			<mdb-slide *ngIf="product.galleryImg3">
				<img class="d-block w-100" src="{{product.galleryImg3}}" alt="Third slide">
			</mdb-slide>

			<mdb-slide *ngIf="product.galleryImg4">
	            <img class="d-block w-100" src="{{product.galleryImg4}}" alt="Third slide">
	        </mdb-slide>

			<mdb-slide *ngIf="product.galleryImg5">
	            <img class="d-block w-100" src="{{product.galleryImg5}}" alt="Third slide">
	        </mdb-slide>

			<mdb-slide *ngIf="product.galleryImg6">
	            <img class="d-block w-100" src="{{product.galleryImg6}}" alt="Third slide">
	        </mdb-slide>

			<mdb-slide *ngIf="product.galleryImg7">
	            <img class="d-block w-100" src="{{product.galleryImg7}}" alt="Third slide">
	        </mdb-slide>

			<mdb-slide *ngIf="product.galleryImg8">
	            <img class="d-block w-100" src="{{product.galleryImg8}}" alt="Third slide">
	        </mdb-slide>

			<mdb-slide *ngIf="product.galleryImg9">
	            <img class="d-block w-100" src="{{product.galleryImg9}}" alt="Third slide">
	        </mdb-slide>

			<mdb-slide *ngIf="product.galleryImg10">
	            <img class="d-block w-100" src="{{product.galleryImg10}}" alt="Third slide">
	        </mdb-slide>

	    </mdb-carousel>
	    <!--/.Carousel Wrapper-->
	</div>
</ng-container>

<app-footer></app-footer>
