<app-navigation></app-navigation>
<app-action-buttons></app-action-buttons>

<ng-container *ngIf="product">
	<div class="container pb-4">
    	<!-- Breadcrumb Navigation -->
		<nav class="breadcrumb mt-md-4 mt-sm-0">
			<a class="breadcrumb-item" routerLink="/">Home</a>
			<a class="breadcrumb-item" routerLink="">{{product.category}}</a>
			<span class="breadcrumb-item active">{{product.title}}</span>
		</nav>
    	<!-- /Breadcrumb Navigation -->

		<div class="row">
			<div class="col-12 col-md-6 pb-3">
				<div class="row">

					<!--Carousel Wrapper-->
					<!-- <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'" [interval]="2500">
						<ng-container *ngFor="let image of product.thumbImages">
						    <mdb-slide>
						        <img class="d-block" src="{{image}}" alt="First slide">
						    </mdb-slide>
						</ng-container>
					</mdb-carousel> -->
					<!--/.Carousel Wrapper-->


					<ul class="col-3 d-flex flex-column thumbnails">
						<ng-container *ngFor="let image of product.thumbImages">
							<ng-container >
								<li><a href="{{image}}"><img src="{{image}}" alt="Thumbnails"></a></li>
							</ng-container>
						</ng-container>
					</ul>
					<div class="col-9">
						<div class="main-image">
							<img src="{{product.tileImage}}" alt="Placeholder" class="custom">
						</div>
					</div>
				</div>
			</div>
			<div class="col-1"></div>
			<div class="col-12 col-md-5" id="productInfo">
				<h5 class="text-left">{{product.category}}</h5>
				<h3 class="text-left">{{product.title}}</h3>
				<ul class="pb-3">
					<li *ngFor="let bullet of product.bullets">{{bullet}}</li>
				</ul>
				<div class="row">
					<div class="col-12">
						<h4>Color Selection</h4>
						<p class="mb-0 mt-2 ml-1" style="font-weight:bold">Standard Colors</p>
						<div class="row">
							<div class="col-3 col-md-2" *ngFor="let color of stdColors | keys">
								<div class="square" mdbTooltip="{{color.key}}" [ngStyle]="{'background': color.value}" placement="bottom"></div>
								<p id="p-colors" class="pl-2">{{color.key}}</p>
							</div>
						</div>
						<p class="mb-0 mt-2 ml-1" style="font-weight:bold">Custom Colors</p>
						<div class="row" *ngFor="let colors of product.colorSet">
							<ng-container *ngIf="colors === 'colorSetx4'">
								<div class="col-3 col-md-2" *ngFor="let c of colorSetx4 | keys">
									<div class="square" mdbTooltip="{{c.key}}" [ngStyle]="{'background': c.value}" placement="bottom"></div>
									<p id="p-colors" class="pl-2">{{c.key}}</p>
								</div>
							</ng-container>
							<ng-container *ngIf="colors === 'colorSetx6'">
								<div class="col-3 col-md-2" *ngFor="let c of colorSetx6 | keys">
									<div class="square" mdbTooltip="{{c.key}}" [ngStyle]="{'background': c.value}" placement="bottom"></div>
									<p id="p-colors" class="pl-2">{{c.key}}</p>
								</div>
							</ng-container>
							<ng-container *ngIf="colors === 'swingingDoorColors'">
								<div class="col-3 col-md-2" *ngFor="let c of swingingDoorColors | keys">
									<div class="square" mdbTooltip="{{c.key}}" [ngStyle]="{'background': c.value}" placement="bottom"></div>
									<p id="p-colors" class="pl-2">{{c.key}}</p>
								</div>
							</ng-container>
							<ng-container *ngIf="colors === 'securityDoorColors'">
								<div class="col-3 col-md-2" *ngFor="let c of securityDoorColors | keys">
									<div class="square" mdbTooltip="{{c.key}}" [ngStyle]="{'background': c.value}" placement="bottom"></div>
									<p id="p-colors" class="pl-2">{{c.key}}</p>
								</div>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container py-4" id="tab-section">
		<div class="row">
			<div class="col-md-12">
				<nav>
					<div class="nav blue nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Product Overview</a>
						<a class="nav-item nav-link" id="nav-specs-tab" data-toggle="tab" href="#nav-specs" role="tab" aria-controls="nav-specs" aria-selected="false">Technical Specs</a>
						<a class="nav-item nav-link" id="nav-options-tab" data-toggle="tab" href="#nav-options" role="tab" aria-controls="nav-options" aria-selected="false">Options</a>
						<a class="nav-item nav-link" id="nav-related-tab" data-toggle="tab" href="#nav-related" role="tab" aria-controls="nav-related" aria-selected="false">Related Products</a>
						<a class="nav-item nav-link" id="nav-warranty-tab" data-toggle="tab" href="#nav-warranty" role="tab" aria-controls="nav-warranty" aria-selected="false">Warranty</a>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
						<p class="p-4" [innerHTML]="product.productOverview"></p>
					</div>
					<div class="tab-pane fade" id="nav-specs" role="tabpanel" aria-labelledby="nav-specs-tab">
						<div class="p-4" [innerHTML]="product.technicalSpecs"></div>
					</div>
					<div class="tab-pane fade" id="nav-options" role="tabpanel" aria-labelledby="nav-options-tab">
						<div class="p-4" [innerHTML]="product.options"></div>
					</div>
					<div class="tab-pane fade" id="nav-related" role="tabpanel" aria-labelledby="nav-related-tab">
						<div class="p-4" [innerHTML]="product.relatedProducts"></div>
					</div>
					<div class="tab-pane fade" id="nav-warranty" role="tabpanel" aria-labelledby="nav-warranty-tab">
						<div class="p-4" [innerHTML]="product.warranty"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<app-lightbox-gallery></app-lightbox-gallery>


</ng-container>

<app-footer></app-footer>
