<div class="container">
    <!-- Images used to open the lightbox -->
    <div class="row">
      <div class="col">
        <img src="assets/images/main/coupon.jpg" (click)="openModal();currentSlide(1)" class="hover-shadow w-50">
      </div>
      <div class="col">
        <img src="assets/images/main/chimney-sunset.jpg" (click)="openModal();currentSlide(2)" class="hover-shadow w-50">
      </div>
      <div class="col">
        <img src="assets/images/main/red-screen.jpg" (click)="openModal();currentSlide(3)" class="hover-shadow w-50">
      </div>
      <div class="col">
        <img src="assets/images/main/gutter.jpg" (click)="openModal();currentSlide(4)" class="hover-shadow w-50">
      </div>
    </div>

    <!-- The Modal/Lightbox -->
    <div id="myModal" class="modal">
      <span class="close cursor" (click)="closeModal()">&times;</span>
      <div class="modal-content">

        <div class="mySlides">
          <div class="numbertext">1 / 4</div>
          <img src="assets/images/main/coupon.jpg" style="width:75%">
        </div>

        <div class="mySlides">
          <div class="numbertext">2 / 4</div>
          <img src="assets/images/main/chimney-sunset.jpg" style="width:75%">
        </div>

        <div class="mySlides">
          <div class="numbertext">3 / 4</div>
          <img src="assets/images/main/red-screen.jpg" style="width:75%">
        </div>

        <div class="mySlides">
          <div class="numbertext">4 / 4</div>
          <img src="assets/images/main/gutter.jpg" style="width:75%">
        </div>

        <!-- Next/previous controls -->
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="caption-container">
          <p id="caption"></p>
        </div>

        <!-- Thumbnail image controls -->
        <div class="col">
          <img class="demo w-25" src="assets/images/main/coupon.jpg" (click)="currentSlide(1)" alt="Nature">
        </div>

        <div class="col">
          <img class="demo w-25" src="assets/images/main/chimney-sunset.jpg" (click)="currentSlide(2)" alt="Trolltunga">
        </div>

        <div class="col">
          <img class="demo w-25" src="assets/images/main/red-screen.jpg" (click)="currentSlide(3)" alt="Mountains">
        </div>

        <div class="col">
          <img class="demo w-25" src="assets/images/main/gutter.jpg" (click)="currentSlide(4)" alt="Lights">
        </div>
      </div>
    </div>
</div>
