<app-navigation></app-navigation>

<div class="container">
  <!--Card-->
  <div class="card card-cascade wider reverse my-4">

    <!--Card image-->
    <div class="view hm-grey-light waves-light" mdbRippleRadius>
        <img src="/assets/images/main/page-not-found-2.jpg" class="img-fluid">
        <div class="mask flex-center">
          <h1 class="display-1 blue-text text-md-left ml-md-4" id="mobile-disappear">You've Entered Uncharted Territory &nbsp; <span class="h1 orange-text">404 Error</span></h1>
          <h1 class="orange-text text-center" id="tablet-disappear">The page you're looking for isn't here</h1>
        </div>
    </div>
    <!--/Card image-->
  </div>
  <!--/.Card-->
</div>

<app-footer></app-footer>
