<div class="container service-list">    
    <!-- ServiceItem row -->
    <div class="row">
        <div class="col-12 pb-4">
            <h2 class="light-gray-text">Chimney</h2>
        </div>
        
        <!-- <div class="scrolling-wrapper"> -->
            
            <div *ngFor='let service of serviceList' class="col-6 col-sm-3">
                <ng-container *ngIf="service.category === 'Chimney'">
                    
                    <a routerLink="/services/{{service.slug}}">

                        <!-- ServiceItem -->

                            <div class="flip-container">
                                <div class="flipper">
                                    <!-- front content -->
                                    <!--Card-->
                                    <div class="front card w-100">
                                        <!--Card image-->
                                        <div class="view hm-zoom waves-light" mdbRippleRadius>
                                            <img src="{{service.thumbnail}}" class="img-fluid w-100" alt="Card image with a tree in a middle of a lake.">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                        <!--Title-->
                                        <h4 class="card-title pt-2 px-2">{{service.title}}</h4>
                                    </div>
                                    <!--/.Card-->
                                    <!--/ front content -->

                                    <!-- back content -->
                                    <div class="back card w-100">
                                        <h4 class="card-title pt-2 px-2 text-center">{{service.title}}</h4>
                                        <div class="divider dropdown-divider pt-0 mt-0"></div>
                                        <p class="p-2">{{service.quick_description}}</p>
                                    </div>
                                    <!--/ back content -->                        
                                </div>
                            </div>


                        <!-- /ServiceItem -->
                        </a>
                </ng-container>
            </div>
        <!-- </div> -->
    </div>
</div>