<app-navigation></app-navigation>

<div class="container">
  <br/><h2 class="text-center">{{title}}</h2><br/>
  
  <div class="input-group mb-3 waves-light" mdbRippleRadius>    
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" style="height:1em;">
        <div class="input-group-append">
          <button class="btn mmblue-outline btn-sm my-0 waves-light" type="submit" mdbRippleRadius>Search</button>
        </div>
    
  </div>
  
  
</div>


<div class="divider dropdown-divider"></div><br/>

<div *ngFor='let service of serviceList' class="col-md-4 pb-4">    
  <!--Card-->
  <div class="card">

      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>

      <!--Card content-->
      <div class="card-body">
          <!--Title-->
          <h4 class="card-title">{{service.title}}</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
      </div>

  </div>
  <!--/.Card-->
</div>

<!-- {{service.slug}}<br/>
{{service.category}}<br/>
{{service.subcategory}}<br/>
{{service.description}}<br/> -->
