<app-navigation></app-navigation>
<app-action-buttons></app-action-buttons>

<!-- ServiceList -->
<div class="container">
    <h2 *ngIf='query' class="mb-3">Searched for <span class="blue-text">{{ query }}</span></h2>
</div>

<ng-container *ngFor='let category of categories; index as i'>
	<div class="container service-list mt-3" id="service-list">
		<!-- ServiceItem row -->
		<div class="row">
			<!-- Angular For Loop -->
            <!-- ServiceList Title -->
            <div class="col-12 pb-2">

                    <h2 *ngIf="query === categories[i]" class="light-gray-text">{{category}}</h2>

			</div>
			<!-- /ServiceList Title -->
			<ng-container *ngFor='let service of serviceList'>
				<!-- Ensure only those in 'Screens' Category -->
				<ng-container *ngIf="service.category === categories[i]">
					<!-- ServiceItem -->
					<div class="col-6 col-md-4 col-lg-3">
						<!-- Flip Card -->
						<div class="flip-container">
                            <div class="flipper">
                                <!-- front content -->
                                <div class="front">
                                    <!--Card image-->
                                    <div class="view waves-light" mdbRippleRadius>
                                        <img src="{{service.tileImage}}" class="img-fluid" alt="{{service.title}}">
                                    </div>
                                    <!--Title-->
                                    <h4 class="card-title">{{service.title}}</h4>
                                </div>
                                <!--/ front content -->

                                <!-- back content -->
                                <div class="back">
                                    <h4 class="text-center">{{service.title}}</h4>
                                    <div class="divider dropdown-divider pt-0 mt-0"></div>
                                    <p class="p-1 mb-0 text-center">{{service.bullet0}}</p>
									<div class="d-flex flex-column">
										<button routerLink="/{{service.type}}/{{service.slug}}" class="btn blue-outline waves-dark" mdbRippleRadius>View</button>
									</div>
                                </div>
                                <!--/ back content -->
                            </div>
                        </div>
						<!-- /Flip Card -->
					</div>
					<!-- /ServiceItem -->
				</ng-container>
				<!-- /Ensure only those in 'Screens' Category -->
			</ng-container>
			<!-- /Angular For Loop -->
		</div>
		<!-- ServiceItem row -->
	</div>
	<!-- /Screens ServiceList -->
</ng-container>
