<app-navigation></app-navigation>

<ng-container *ngIf="landing">
  <!-- door-and-window-screens -->
  <ng-container *ngIf="landing.slug === 'door-and-window-screens'">
    <div class="container py-4">
      <h1 class="p-2">{{landing.title}}</h1>
      <p class="p-2">Mike’s Mobile offers a variety of window and door screens from sliding screen doors to security doors to Solar Screens which block out much of the sun’s heat. We even offer screen repair and replacement services. Contact us today so we can help you choose the perfect screen for your home.</p>
      <div class="row">
        <div class="col">
          <img src="/assets/images/screens/screen-door-chart.png" />
        </div>
        <div class="col-3">
          <h4 class="p-2 text-center">Screen Doors</h4>
          <div class="d-flex flex-column">
            <button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/products/sliding-screen-door']">Sliding Screens</button>
            <button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/products/retractable-screen-door']">Retractable Screens</button>
            <button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/grid/swinging-screen-doors']">Swinging Screens</button>
          </div>
          <h4 class="p-2 text-center">Window Screens</h4>
          <div class="d-flex flex-column">
            <button type="button" class="btn blue my-2" mdbRippleRadius [routerLink]="['/services/solar-screens']">Solar Screens</button>
            <button type="button" class="btn blue my-2" mdbRippleRadius [routerLink]="['/services/screen-repair']">Window Screen Repair</button>
          </div>
        </div>
      </div>
      <hr/>
      <p class="m-2">
        If you are in need of more security, please visit our <a class="orange-text">Security Doors</a> page! Mike’s Mobile has you covered no matter what application your home needs.
      </p>
    </div>
  </ng-container>
  <!-- /door-and-window-screens -->

  <!-- Chimney Services -->
  <ng-container *ngIf="landing.slug === 'chimney-services'">
      <div class="container py-4">
          <h1 class="p-2">{{landing.title}}</h1>
          <p class="p-2">Did you know that chimneys need to be cleaned and inspected regularly in order for them to burn safely? Sooty buildup can lead to chimney fires that spread into the home. Even if you do not use your fireplace often, general deterioration or even animal nests can make it unsafe to use. Let Mike’s Mobile Chimney Service help you keep your fireplace safe and your home cozy.</p>
          <div class="row">
            <div class="col">
              <iframe width="825" height="413" src="https://www.youtube.com/embed/PKxsbx7Z9Po" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-3">
              <h4 class="p-2 text-center">Chimney Services</h4>
              <div class="d-flex flex-column">
				<button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/services/inspections']">Chimney Inspections</button>
				<button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/services/cleaning']">Chimney Cleaning</button>                
                <button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/grid/repair']">Chimney Repair</button>
				<button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/grid/accessories']">Chimney Accessories</button>
				<button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/grid/masonry-services']">Masonry Services</button>
				<button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/services/dryer-vent-cleaning']">Dryer Vent Cleaning</button>
                <button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/grid/resources']">Chimney Resources</button>
              </div>
            </div>
          </div>
          <hr/>          
    </div>
  </ng-container>
  <!-- /Chimney Services -->

  <!-- security-doors-and-windows -->
  <ng-container *ngIf="landing.slug === 'security-doors-and-windows'">
	<div class="container py-4">
		<h1 class="p-2">{{landing.title}}</h1>
		<p class="p-2">Upgrade your style along with security with our high quality security doors. Whether you are looking for a traditional steel security door for safety or our high quality aluminum security doors to protect both your view and your home, Mike’s Mobile Screens has plenty of options for you.</p>
		<div class="row">
		<div class="col">
			<img src="/assets/images/security/security-door-table.png" />
		</div>
		<div class="col-3">
			<h4 class="p-2 text-center">Security Doors</h4>
			<div class="d-flex flex-column">
				<button type="button" class="btn blue my-2" mdbRippleRadius [routerLink]="['/grid/steel-security-doors']">Steel Security Door</button>
				<button type="button" class="btn blue my-2" mdbRippleRadius [routerLink]="['/products/viewguard-security-doors']">Viewguard</button>
				<button type="button" class="btn blue my-2" mdbRippleRadius [routerLink]="['/products/tru-view-security-doors']">Tru View</button>
				<button type="button" class="btn blue my-2" mdbRippleRadius [routerLink]="['/products/tru-frame-security-doors']">Tru Frame</button>			
				<button type="button" class="btn blue my-2" mdbRippleRadius [routerLink]="['/products/sliding-security-doors']">Sliding Security Doors</button>
			</div>
			<br/><br/>
			<h4 class="p-2 text-center">Security Windows</h4>
			<div class="d-flex flex-column">
				<button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/products/crl-guarda-quick-escape']">CRL Guarda™ Quick Escape</button>
				<button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/products/crl-guarda-fixed']">CRL Guarda™ Fixed</button>
				<button type="button" class="btn orange my-2" mdbRippleRadius [routerLink]="['/products/crl-guarda-casement']">CRL Guarda™ Casement</button>
			</div>
		</div>
		</div>
		<hr/>
		<h4>Security Window Screens</h4>
		<p>Security bars are an unattractive and potentially illegal way to secure your home from the outside. Here at Mike’s Mobile we offer an attractive and safe way to secure your home from the outside, while allowing your family to escape in case of a fire or other emergency.</p>
	</div>
	</ng-container>
	<!-- security-doors-and-windows -->

	<!-- Awnings -->
	<ng-container *ngIf="landing.slug === 'awnings'">
		<div class="container py-4">
			<h1 class="p-2">{{landing.title}}</h1>
			<p class="p-2">Your home is one-of-a-kind, and your window and door awnings should match and compliment it. Not only will your window and door awnings match your home, but they will also lower your energy bills, protect you from the weather while you open your door, and improve the appearance of your home..</p>
			<div class="row">
			<div class="col">
				<img src="/assets/images/awnings/folding-arm-awning.jpg" class="img-fluid"/>
			</div>
			<div class="col-3">
				<h4 class="p-2 text-center">Awnings</h4>
				<div class="d-flex flex-column">
					<button type="button" class="btn blue my-2" mdbRippleRadius [routerLink]="['/services/retractable-patio-awning']">Retractable Patio Awnings</button>
					<button type="button" class="btn blue my-2" mdbRippleRadius [routerLink]="['/services/drop-roll-sunscreens']">Drop Roll Sunscreens</button>
					<button type="button" class="btn blue my-2" mdbRippleRadius [routerLink]="['/services/door-and-window-awnings']">Window and Door Awnings</button>
				</div>
			</div>
			</div>
			<hr/>
			
		</div>
	</ng-container>
	<!-- /Awnings -->




</ng-container>
<app-footer></app-footer>