@import '~sass/modules/_mixins.sass'
@import '~sass/modules/_variables.sass'

nav
	background: #ffffff !important

h5
	font-weight: 900
h6
	color: $mmblue
	font-weight: 900

.nav-text
	font-weight: 400

li.nav-item .nav-link:hover
	color: $orange !important

.dropdown-menu 
	a:hover
		color: $orange !important

.dropdown-item:active
	background-color: $mmblue
	
.active
	a
		color: $orange !important

.underline
	border-bottom: 1px solid #f2f2f2

.dropdown-menu
	border-radius: 1px

.megamenu
	min-width: 960px
	left: -700px
	@include breakpoint(md)
		left: -650px
	h5
		padding: 5px 0
	a
		padding: 5px