@import '~sass/modules/_mixins.sass'
@import '~sass/modules/_variables.sass'

nav
	margin-bottom: 60px
	background: #ffffff !important
	@include breakpoint(md)
		margin-bottom: 70px
	.megamenu
		position: relative
		z-index: 9999 !important
		min-width: 960px
		left: -700px
		@include breakpoint(md)
			left: -800px
		h5
			padding: 5px 0
		a
			padding: 5px

h5
	font-weight: 900
h6
	color: $mmblue
	font-weight: 900

.nav-text
	font-weight: 400

li.nav-item .nav-link:hover
	color: $orange !important

.dropdown-menu
	a:hover
		color: $orange !important

.dropdown-item:active
	background-color: $mmblue
	margin: 0 !important

.active
	a
		color: $orange !important

.underline
	border-bottom: 1px solid #f2f2f2

.dropdown-menu
	border-radius: 1px

#navBtn:hover
	background: rgba(204,204,204,.25) !important
	
#display-mobile
    display: block !important
    @include breakpoint(md)
        display: none !important

.display-desktop
    display: none !important
    @include breakpoint(md)
        display: block !important