<nav class="side-nav" id="sideNav">
	<ul class="navbar-nav mr-auto">
		<!-- <logo>
            <a routerLink="/"><img title="Mike’s Mobile Screen & Chimney Service" alt="Mike’s Mobile Screen & Chimney Service" src="/assets/images/MMBlue-AllWhiteLogo-640.png" style="max-height: 50px;"></a>
        </logo> -->
        <div class="" (click)="closeSideNav()">Close</div>
		<h3 class="text-right white-text">Screens</h3>
        <div class="divider dropdown-divider"></div>

        <h5>Windows</h5>
        <a class="nav-link waves-dark" href="#" mdbRippleRadius>Screen Repair</a>
        <a class="nav-link waves-light" href="#" mdbRippleRadius>Solar Screens</a>
        
        <h5>Doors</h5>
        <a class="nav-link waves-light" href="#" mdbRippleRadius>Sliding Screen Door</a>
        <a class="nav-link waves-light" href="#" mdbRippleRadius>Retractable Screen Door</a>
        <a class="nav-link waves-light" href="#" mdbRippleRadius>Swinging Screen Door</a>
        <a class="nav-link waves-light" href="#" mdbRippleRadius>Pet Doors</a>

        <h3 class="text-right white-text">Chimney</h3>
        <div class="divider dropdown-divider"></div>
        <a class="nav-link waves-light" href="#" mdbRippleRadius>Inspection</a>
        <a class="nav-link waves-light" href="#" mdbRippleRadius>Cleaning</a>
        <a class="nav-link waves-light" href="#" mdbRippleRadius>Repairs</a>
        <a class="nav-link waves-light" href="#" mdbRippleRadius>Accessories</a>
        <a class="nav-link waves-light" href="#" mdbRippleRadius>Resources</a>
        <a class="nav-link waves-light" href="#" mdbRippleRadius>Masonry Services</a>

        <h3 class="text-right white-text">Security</h3>
        <div class="divider dropdown-divider"></div>
        <h5>Doors</h5>

        <h3 class="text-right white-text">Home Improvement</h3>
        <div class="divider dropdown-divider"></div>
        <h5>Windowns</h5>
	</ul>
</nav>

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark main-menu">
    <logo>
        <a routerLink="/"><img title="Mike’s Mobile Screen & Chimney Service" alt="Mike’s Mobile Screen & Chimney Service" src="/assets/images/MMBlue-AllWhiteLogo-640.png" style="max-height: 50px;"></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto pt-3">
            <li class="nav-item active">
                <a class="nav-link waves-light" routerLink="/" mdbRippleRadius><i class="fa fa-home"></i> &nbsp; Home <span class="sr-only">(current)</span> <i class="fa fa-angle-right" aria-hidden="true" style="float: right;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius (click)="openSideNav()" ><i class="fa fa-globe"></i> &nbsp; Services <i class="fa fa-angle-right" aria-hidden="true" style="float: right;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" pageScroll href="#about" mdbRippleRadius><i class="fa fa-users"></i> &nbsp; About <i class="fa fa-angle-right" aria-hidden="true" style="float: right;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" pageScroll href="#contact" mdbRippleRadius><i class="fa fa-envelope"></i> &nbsp; Contact <i class="fa fa-angle-right" aria-hidden="true" style="float: right;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/blog" mdbRippleRadius><i class="fa fa-sticky-note"></i> &nbsp; Blog <i class="fa fa-angle-right" aria-hidden="true" style="float: right;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" href="#" (click)="showInfo()" mdbRippleRadius><i class="fa fa-shopping-bag"></i> &nbsp; Store <i class="fa fa-angle-right" aria-hidden="true" style="float: right;"></i></a>
            </li>

            <!-- ADD SEARCH FORM HERE TO SEARCH THROUGH PRODUCTS AND SERVICES -->

            <!-- <li class="nav-item">
            	<div class="md-form form-sm">
				    <i class="fa fa-search prefix"></i>
				    <input mdbActive type="text" id="form2" class="form-control">
				    <label for="form2">Search</label>
				</div>            	
		    </li> -->
        </ul>
        <!-- Search form -->
        <form class="form-inline  waves-light" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
        <!-- <span class="navbar-text ">
            Navbar text with an inline element
        </span> -->
    </links>
</mdb-navbar>