<nav class="side-nav" id="sideNav">
	<ul class="navbar-nav mr-auto pb-4">
        <div class="grey-text text-right" (click)="closeSideNav()"><i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp; Close</div>
		<h3 class="text-center black-text mt-4">Screens</h3>
        <!-- <div class="divider dropdown-divider pt-0 mt-0"></div> -->

        <h5 class="mt-2 mb-0 pb-0">Windows</h5>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Screen Repair</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Solar Screens</a>
        
        <h5 class="mt-2 mb-0 pb-0">Doors</h5>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Sliding Screen Door</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Retractable Screen Door</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Swinging Screen Door</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Pet Doors</a>

        <h3 class="text-center black-text mt-4">Chimney</h3>
        <!-- <div class="divider dropdown-divider pt-0 mt-0"></div> -->
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Inspection</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Cleaning</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Repairs</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Accessories</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Resources</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Masonry Services</a>

        <h3 class="text-center black-text mt-4">Security</h3>
        <!-- <div class="divider dropdown-divider pt-0 mt-0"></div> -->
        <h5 class="mt-2 mb-0 pb-0">Doors</h5>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Steel Security Doors</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Viewguard</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Tru-View</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Tru-Frame</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Sliding Security Door</a>
        <h5 class="mt-2 mb-0 pb-0">Windows</h5>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>CRL Guarda Quick Escape</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>CRL Guarda Fixed</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>CRL Guarda Casement</a>

        <h3 class="text-center black-text mt-4">Home Improvement</h3>
        <!-- <div class="divider dropdown-divider pt-0 mt-0"></div> -->
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Awnings</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Dryer Vent Cleaning</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Gutter Cleaning</a>
        <a class="nav-link grey-text waves-dark underline" href="#" mdbRippleRadius>Window Washing</a>
	</ul>
</nav>

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark main-menu">
    <logo>
        <a routerLink="/"><img title="Mike’s Mobile Screen & Chimney Service" alt="Mike’s Mobile Screen & Chimney Service" src="/assets/images/MMBlue-AllWhiteLogo-640.png" style="max-height: 50px;"></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto pt-3">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-globe"></i> &nbsp; Services <span class="sr-only">(current)</span> <i class="fa fa-angle-right" aria-hidden="true" style="float: right; padding-top: 4px;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" pageScroll [routerLink]="['/']" href="#aboutMM" mdbRippleRadius><i class="fa fa-users"></i> &nbsp; About <i class="fa fa-angle-right" aria-hidden="true" style="float: right; padding-top: 4px;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" pageScroll [routerLink]="['/']" href="#contact" mdbRippleRadius><i class="fa fa-envelope"></i> &nbsp; Contact <i class="fa fa-angle-right" aria-hidden="true" style="float: right; padding-top: 4px;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/blog" mdbRippleRadius><i class="fa fa-sticky-note"></i> &nbsp; Blog <i class="fa fa-angle-right" aria-hidden="true" style="float: right; padding-top: 4px;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" href="#" (click)="showInfo()" mdbRippleRadius><i class="fa fa-shopping-bag"></i> &nbsp; Store <i class="fa fa-angle-right" aria-hidden="true" style="float: right; padding-top: 4px;"></i></a>
            </li>

        </ul>
        
        <!-- ADD SEARCH FORM HERE TO SEARCH THROUGH PRODUCTS AND SERVICES -->
        <!-- Search form -->
        <form class="form-inline  waves-light pb-2" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </links>
</mdb-navbar>