<app-navigation></app-navigation>


<div class="container slideshow" id="slideshow">
    <!--Carousel Wrapper-->
    <mdb-carousel #carousel [isControls]="true" class="carousel slide" [animation]="'slide'" [interval]="2500">
        <!--First slide-->
        <mdb-slide>
            <div class="view hm-bluegrey-light">
                <img class="d-block w-100 img-fluid" src="assets/images/main/red-screen.jpg" alt="First slide">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>

            <div class="carousel-caption text-md-left">
                <div class="transparent-gray pt-4 pb-1">
                    <h2 class="h2-responsive px-4">Custom Security Doors</h2>
                    <ul>
                        <li>Custom Mount Options</li>
                        <li>Custom Colors</li>
                        <li>Custom <i class="orange-text">You</i></li>
                    </ul>
                </div>
                <button type="button" class="btn blue waves-light" mdbRippleRadius>Get Started</button>
            </div>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <div class="view hm-stylish-light">
                <img class="d-block w-100 img-fluid" src="assets/images/main/single-chimney.jpg" alt="Second slide">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>
            <div class="carousel-caption text-md-left">
                <div class="transparent-gray pt-4 pb-3">
                    <h2 class="h2-responsive px-4">View our many Chimney Services</h2>
                    <!-- <p class="px-4">Secondary text</p> -->
                </div>
                <button type="button" class="btn blue waves-light" mdbRippleRadius>Learn More</button>
            </div>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
            <div class="view hm-stylish-light">
                <img class="d-block w-100 img-fluid" src="assets/images/main/gutter0.jpg" alt="Third slide">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>
            <div class="carousel-caption text-md-left">
                <div class="transparent-gray pt-4 pb-1">
                    <h2 class="h2-responsive px-4">Home Improvement</h2>
                    <p class="px-4">Keep your home in tip-top shape</p>
                </div>
                <button type="button" class="btn blue waves-light" (click)="basicModal.show()" mdbRippleRadius>Free Quote</button>
            </div>
        </mdb-slide>
        <!--/Third slide-->
        <!--Fourth slide-->
        <mdb-slide>
            <div class="view hm-stylish-light">
                <img class="d-block w-100 img-fluid" src="assets/images/main/security-door.jpg" alt="Third slide">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>
            <div class="carousel-caption text-md-left">
                <div class="transparent-gray pt-4 pb-1">
                    <h2 class="h2-responsive px-4">1-877-520-3595</h2>
                    <p class="px-4">Call us Today!</p>
                </div>
                <button type="button" class="btn blue waves-light" href="tel:+1-916-372-8783" mdbRippleRadius>Call Now</button>
            </div>
        </mdb-slide>
        <!--/Fourth slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
</div>

<app-action-buttons></app-action-buttons>

<app-service-list></app-service-list>

<app-quote-modal></app-quote-modal>

<app-footer></app-footer>