<div (click)="basicModal.show()"></div>

<!--QuoteForm Modal-->
<div class="container">
    <div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Get a Free Quote Now! <br/><span class="orange-text">1-877-520-3595</span></h4>
                </div>
                <div class="modal-body">
                    <div class="md-form form-sm">
                        <mdb-select [options]="optionsSelect" [multiple]="true" placeholder="What service were you interested in?"></mdb-select>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="fullName" class="">Full Name</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="city" class="">City</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="phone" class="">Phone</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="email" class="">Email</label>
                    </div>
                    <div class="md-form">
                        <textarea mdbActive type="text" id="form7" class="md-textarea"></textarea>
                        <label for="form7">How can we help</label>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <button type="button" class="btn gray waves-light w-100" aria-label="Close" (click)="basicModal.hide()" mdbRippleRadius>Close</button>
                    <button type="button" class="btn blue relative waves-light w-100" mdbRippleRadius>Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/QuoteForm Modal-->