<!-- Action Buttons -->
<div class="d-flex flex-row pb-4">
    <div class="container action-buttons">
        <button class="btn blue waves-light" (click)="basicModal.show()" id="quoteBtn" mdbRippleRadius><span id="desktop-only">Get Your</span> Free Quote!</button>
        <button class="btn blue waves-light" id="telBtn" mdbRippleRadius><a class="white-text" href="tel:+1-916-372-8783">1-877-520-3595</a></button>
        <app-search id="search-input" style="display: none"></app-search>
        <button id="search-button" class="btn light-gray waves-light" (click)="resizeActionBtns()" mdbRippleRadius><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
</div>
<!--/ Action Buttons -->

<!--QuoteForm Modal-->
<div class="container">
    <div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Get a Free Quote Now!</h4>
                </div>
                <div class="modal-body">
                    <div class="md-form form-sm">
                        <p class="pb-0 mb-0">What service are you inquiring about?</p>
                        <select class="form-control" id="serviceSelect">
                            <option>Window Screen Repair</option>
                            <option>Solar Screens</option>
                            <option>Sliding Screen Door</option>
                            <option>Swinging Screen Door</option>
                            <option>Retractable Screen Door</option>
                            <option>Screen Doors</option>
                            <option>Pet Doors</option>
                            <option disabled>__________________________</option>
                            <option>Chimney Inspection</option>
                            <option>Chimney Cleaning</option>
                            <option>Chimney Repair</option>
                            <option>Chimney Accessories</option>
                            <option>Chimney Resources</option>
                            <option>Masonry Services</option>
                            <option disabled>__________________________</option>
                            <option>Steel Security Door</option>
                            <option>Viewguard Security Door</option>
                            <option>TRU-view Security Door</option>
                            <option>TRU-Frame Security Door</option>
                            <option>Sliding Security Doors</option>
                            <option disabled>__________________________</option>
                            <option>CRL Guarda™ Quick Escape Window Screen</option>
                            <option>CRL Guarda™ Fixed Window Screen</option>
                            <option>CRL Guarda™ Casement Window Screen</option>
                            <option disabled>__________________________</option>
                            <option>Retractable Patio Awnings</option>
                            <option>Drop Roll Sunscreens</option>
                            <option>Door and Window Awnings</option>
                        </select>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="fullName" class="">Full Name</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="city" class="">City</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="phone" class="">Phone</label>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="email" class="">Email</label>
                    </div>
                    <div class="md-form">
                        <textarea mdbActive type="text" id="form7" class="md-textarea"></textarea>
                        <label for="form7">How can we help</label>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <button type="button" class="btn gray waves-light w-100" aria-label="Close" (click)="basicModal.hide()" mdbRippleRadius>Close</button>
                    <button type="button" class="btn blue relative waves-light w-100" mdbRippleRadius>Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/QuoteForm Modal-->
