@import '~sass/modules/_mixins.sass'
@import '~sass/modules/_variables.sass'
    
.action-buttons
    .btn
        margin: 0
    #search-button
        padding: 15px 10px
    button:first-of-type
        width: 37%
        margin: 10px 10px 0 0
        padding: 10px 5px
        @include breakpoint(sm)
            padding: 15px
            width: 39%
    button:nth-of-type(2)
        width: 37%
        margin: 10px 10px 0 0
        padding: 10px 5px
        @include breakpoint(sm)
            padding: 15px
            width: 39%
    button:nth-of-type(3)
        width: 17%
        margin: 10px 0 0 0
        padding: 10px 5px !important
        @include breakpoint(sm)
            padding: 15px !important
            width: 18%
        